<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.empl.mapper.EmpMapper">
	<select id="getDepartment" resultType="Department">
		select * from department
	</select>
	<select id="getDepartmentOne" resultType="Department" parameterType="hashmap">
		select * from department
		where deptnum=#{deptnum}
	</select>
	<select id="getPosition" resultType="Position">
		select * from position
	</select>
	<select id="getPositionOne" resultType="Position" parameterType="hashmap">
		select * from position
		where ppnum=#{ppnum}
	</select>
	
	<select id="getBasepay" resultType="Payfor" parameterType="hashmap">
		select * from payfor where deptNum=#{dept} and ppNum=#{posi}
	</select>
	<select id="getIdSequence" resultType="int">
		select idnum.nextval from dual
	</select>
	<insert id="userInsert" parameterType="hashmap">
		insert into userinfo values(#{userid},#{userpassword},0)
	</insert>
	<insert id="empInsert" parameterType="hashmap">
		insert into emplist values((select nvl(max(empnum)+1,0) from emplist),#{userid},
		#{empname},#{ppnum},#{deptnum},#{empbirth},#{sollun},#{regionnum},#{phonenum},
		#{basepay},#{bonus},#{joinday})
	</insert>
	
	<select id="getEmployee" resultType="Employee">
		select * from emplist
		order by empnum
	</select>
	
	<!-- 지역관리 -->
	<insert id="regionInsert" parameterType="string">
		insert into region values((select nvl(max(regionnum)+1,1) from region),#{reginame})
	</insert>
	<select id="getRegion" resultType="Region">
		select * from region
		order by regionnum
	</select>
	<select id="getRegionOne" resultType="Region" parameterType="hashmap">
		select * from region
		where regionnum=#{reginum}
	</select>
</mapper>